@use "vars" as v;

@mixin min-width($breakpoint) {
  @if ($breakpoint == x-small) {
    @media (min-width: v.$breakpoint-xsmall) {
      @content;
    }
  } @else if ($breakpoint == small) {
    @media (min-width: v.$breakpoint-small) {
      @content;
    }
  } @else if ($breakpoint == medium) {
    @media (min-width: v.$breakpoint-medium) {
      @content;
    }
  } @else if ($breakpoint == large) {
    @media (min-width: v.$breakpoint-large) {
      @content;
    }
  } @else if ($breakpoint == x-large) {
    @media (min-width: v.$breakpoint-extra-large) {
      @content;
    }
  } @else {
    @error "UNKNOWN MEDIA BREAKPOINT #{$breakpoint}";
  }
}

@mixin column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
